Body {background-color: rgb(133, 109, 74);
}
@media screen and (max-width: 600px) {


    .part1 {color: rgb(88, 45, 37);
    font-size: 150%;
    font-style: oblique;
    border-style: dashed;
    border-color: bisque;
    margin-top: 7px;
    .part2 {border-style: groove;
    font-style: initial;}
}
}
.part1 {border-style: groove;
border-color: gainsboro;
margin: 6px;
font-style: italic;
}
.part2 {font-style: oblique;
}

